<mat-toolbar color="primary">
    <span>Elimity Frontend Exercise</span>
</mat-toolbar>

<div class="container">
    <h1 class="mt-3">Projects</h1>
    <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Show tasks</mat-label>
            <mat-select [(value)]="selected" (selectionChange)="onSelect($event.value)">
             <mat-option [value]="options.showAll">Show All</mat-option>
              <mat-option [value]="options.hideAll">Hide All</mat-option>
              <mat-option [value]="options.separate">Separate</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 py-3" *ngFor="let project of projects; let i = index">
            <app-project-info-card
              (showTasksChange)="onShowTasks($event, i)"
              [showTasks]="showTasks[i]"
              [project]="project"></app-project-info-card>
        </div>
    </div>
</div>
