<mat-card>
  <mat-card-title> {{project.title}} </mat-card-title>
  <mat-card-content><span class="mat-body-strong">Owner:</span> {{project.owner}}</mat-card-content>
  <mat-card-content><span class="mat-body-strong">Priority:</span>: {{getLabel(project.priority)}}</mat-card-content>
  <mat-card-content><span class="mat-body-strong">Due date:</span> {{project.dueDate | date: 'E MMM dd yyyy'}}</mat-card-content>
  <mat-card-content><span class="mat-body-strong">Tasks:</span> {{project.tasks.length}}</mat-card-content>
</mat-card>
